@model IEnumerable<TuesdayKetchup.Models.Episode>

@{
    ViewBag.Title = "ListEpisodes";

}

<h2>Episodes</h2>
@if (ViewBag.Message != null)
{
    <h5>@ViewBag.Message</h5>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Show.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoundCloudLink)
        </th>
        <th>
            <p>Rating</p>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a style="color:black">@Html.DisplayFor(modelItem => item.Show.Title)</a>
            </td>
            <td>
                <a style="color:black">@Html.DisplayFor(modelItem => item.Title)</a>
            </td>
            <td>
                <a style="color:black">
                    @Html.DisplayFor(modelItem => item.Details)
                </a>
            </td>
            <td>
                <a style="color:black">
                    @Html.DisplayFor(modelItem => item.SoundCloudLink)
                </a>
            </td>

            <td>
                @Html.ActionLink("Edit", "EditEpisode", new { id = item.Id }) <br />
                @Html.ActionLink("Delete", "DeleteEpisode", new { id = item.Id })
            </td>
        </tr>
    }

</table>

