@model IEnumerable<TuesdayKetchup.Models.Video>

@{
    ViewBag.Title = "ListVideos";
}

<h2>ListVideos</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.YoutubeLink)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pinned)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.YoutubeLink)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pinned)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditVideo", new { id=item.Id }) |
            @Html.ActionLink("Delete", "DeleteVideo", new { id=item.Id })
        </td>
    </tr>
}

</table>
