
@{
    ViewBag.Title = "ManageHome";
}

<h2>ManageHome</h2>
<div>
    @Html.ActionLink("Add A HomePage Announcement", "AddAnnouncement","Admin")
</div>
<div>
    @Html.ActionLink("Send Alert Text", "AlertText", "Admin")
</div>
<div>
    @Html.ActionLink("Add An Episode", "AddEpisode", "Admin")
</div>
<div>
    @Html.ActionLink("View Episodes","ListEpisodes","Admin")
</div>
<div>
    @Html.ActionLink("Add An Event", "CreateEvent", "Calendar")
</div>
<div>
    @Html.ActionLink("View Events", "EventList", "Calendar")
</div>
