@model TuesdayKetchup.Models.Email

@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Message</h3>

@*<address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>*@

@*<address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>*@

@if (User.IsInRole("Fan"))
{
    <h4>Please enter the information below to send us an email.</h4>

    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h5>Email</h5>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="width:100%">
                    @Html.TextBoxFor(model => model.Subject, new { htmlAttributes = new { style = "width:100%; max-width: 100%;" } })
                    @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="width:100%">
                    @Html.TextAreaFor(model => model.Message, 8, 100, new { @class = "form-control", style = "width: 67%; max-width: 100%;" })
                    @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-default" />
                </div>
            </div>
        </div>
        }
    }
    @if (!User.IsInRole("Fan"))
    {
        <h4>Sign in to send us an email!</h4>
    }