<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="padding-top:5px; padding-bottom:5px;">
        <div class="col-md-2">
            <a><img class="img-fluid" src="~/Content/truegravytrain.png" /></a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" style="font-size:1.2em" href="@Url.Action("Index","Home")">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="font-size:1.2em" href="@Url.Action("Ketchup","Home")">Tuesday Ketchup</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="font-size:1.2em" href="@Url.Action("NickAtNight","Home")">Nick @@ Night</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="font-size:1.2em" href="@Url.Action("CalendarIndex","Calendar")">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="font-size:1.2em" href="@Url.Action("Index","Forum")">Forums</a>
                </li>
                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        <a class="nav-link" style="font-size:1.2em" href="@Url.Action("ManageHome","Admin")">Manage</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" style="font-size:1.2em" href="@Url.Action("Contact","Home")">Contact Us</a>
                    </li>
                }
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>
    <span>

        <img src="~/Content/ketchupred.png" style="width:100%;" />
    </span>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Made by Henry Hill, Jake Jahneke, Zack Scherrer, and Nate Stubing</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>