<style>


</style>
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="@Url.Action( "Index", "Manage")" style="color:white; padding-right: 20px;">Welcome @User.Identity.GetUserName()!
                   </a>
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()" style="color:white">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="loginLinks" style="padding-right: 20px;"><a href="@Url.Action("Register", "Account")" style="color:white;">Register</a></li>
        <li class="loginLinks"><a href="@Url.Action("Login", "Account")" style="color:white;">Log in</a></li>
    </ul>
}
