@using TuesdayKetchup.Models
@using Microsoft.AspNet.Identity;
@model EpisodeViewModel

<style>
    .commentBox {
        background-color: #efefef;
        padding: 10px;
        border-radius: 10px;
        background-color: black;
    }

    .starFade {
        background-image: url('https://i.imgur.com/NPoumic.png');
        min-width: 1.5em;
        min-height: 1.5em;
        content: url(https://i.imgur.com/NPoumic.png);
        width: 2em;
        height: 2em;
        display: inline-block;
        cursor: pointer;
    }

    .starFadeN {
        background-image: url('https://i.imgur.com/NPoumic.png');
        min-width: 1.5em;
        min-height: 1.5em;
        content: url(https://i.imgur.com/NPoumic.png);
        width: 2em;
        height: 2em;
    }

    .starGlow {
        background-image: url('https://i.imgur.com/cAYEnBR.png');
        min-width: 1.5em;
        min-height: 1.5em;
        content: url(https://i.imgur.com/cAYEnBR.png);
        width: 2em;
        height: 2em;
        display: inline-block;
        cursor: pointer;
    }

    .starGlowN {
        background-image: url('https://i.imgur.com/cAYEnBR.png');
        min-width: 30px;
        content: url(https://i.imgur.com/cAYEnBR.png);
        width: 40px;
        height: 40px;
        display: inline-block;
    }
</style>


<div class="row" id="new-rating-box">
    <div class="col-md-6" style="text-align:center;">
        <p>Episode Rating</p>
    </div>
    <div class="col-md-6" style="text-align:center;">
        <p>Your Rating</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6" style="text-align:center;">
            @for (int i = 0; i < Model.rating; i++)
            {
                <span class="starGlow"></span>
            }
    </div>
    <div class="col-md-6" style="text-align:right;">
        @using (Ajax.BeginForm("AddRating", "Home", new { @class = "my_form", onload = "CRateSelected()" }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "episode-userrating", InsertionMode = InsertionMode.Replace, OnSuccess = "CRateSelected()" }))
        {
            <div class="row">
                <div style="display:inline-block; padding-right:.5em;padding-left:3em;">
                    <div class="form-group">
                        <div onmouseout="CRateSelected()">
                            <span class="starFade" id="Rate1" onclick="CRate(1)" onmouseover="CRateOver(1)" onmouseout="CRateOut(1)"></span><span class="starFade" id="Rate2" onclick="CRate(2)" onmouseover="CRateOver(2)" onmouseout="CRateOut(2)"></span><span class="starFade" id="Rate3" onclick="CRate(3)" onmouseover="CRateOver(3)" onmouseout="CRateOut(3)"></span><span class="starFade" id="Rate4" onclick="CRate(4)" onmouseover="CRateOver(4)" onmouseout="CRateOut(4)"></span><span class="starFade" id="Rate5" onclick="CRate(5)" onmouseover="CRateOver(5)" onmouseout="CRateOut(5)"></span>
                        </div>
                    </div>
                </div>
                <div style="display:inline-block">
                    <input class="btn-warning" style="border-radius: 6px;" type="submit" value="Rate" />
                </div>
            </div>

            @Html.Hidden("userId", @User.Identity.GetUserId())
            @Html.Hidden("episodeId", Model.episode.Id)


            if (Model.currentUserRating != null)
            {
                @Html.Hidden("score", Model.currentUserRating)
                <span></span>
            }
            else
            {
                @Html.Hidden("score")
            }
        }
    </div>
</div>
   


<script>
    function SCRate() {
        for (var i = 1; i <= 5; i++) {
            $("#sRate" + i).attr('class', 'starGlowN');
        }
    }
    $(function () {
        SCRate();
    });
</script>
<script>
    function SubmitComment() {

        return true;
        //if ($("#score").val() == "0") {
        //    alert("Please rate this service provider.");
        //    return false;
        //}
        //else {
        //    return true;
        //}
    }

    function CRate(r) {
        $("#score").val(r);
        for (var i = 1; i <= r; i++) {
            $("#Rate" + i).attr('class', 'starGlow');
        }
        // unselect remaining
        for (var i = r + 1; i <= 5; i++) {
            $("#Rate" + i).attr('class', 'starFade');
        }
    }

    function CRateOver(r) {
        for (var i = 1; i <= r; i++) {
            $("#Rate" + i).attr('class', 'starGlow');
        }
    }

    function CRateOut(r) {
        for (var i = 1; i <= r; i++) {
            $("#Rate" + i).attr('class', 'starFade');
        }
    }

    function CRateSelected() {
        var setRating = $("#score").val();
        for (var i = 1; i <= setRating; i++) {
            $("#Rate" + i).attr('class', 'starGlow');
        }
        console.log("Ran CRateSelected")
    }
</script>
