@model TuesdayKetchup.Models.Event

@{
    ViewBag.Title = "Details";
}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Event</h2>
            <h4>Details</h4>
            <hr />
            <dl class="dl-horizontal">

                <dt>
                    @Html.DisplayNameFor(model => model.Subject)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Subject)
                </dd>
                @if (Model.Description != null)
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                }

                <dt>
                    @Html.DisplayNameFor(model => model.Start)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Start)
                </dd>
                @if (Model.EventTime != null)
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.EventTime)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.EventTime)
                    </dd>
                }
                @if (Model.Details != null)
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.Details)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Details)
                    </dd>
                }
                @if (Model.Image != null)
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.Image)
                    </dt>
                    <dd>
                        <img src=@ViewBag.Image style="width:60%;">
                    </dd>
                }
                @if (Model.StreetAddress != null)
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.StreetAddress)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.StreetAddress)
                    </dd>
                }
                @if (Model.City != null)
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.City)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.City)
                    </dd>
                }
                @if (Model.State != null)
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.State)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.State)
                    </dd>
                }

                @if (Model.Zipcode != null)
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.Zipcode)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Zipcode)
                    </dd>
                }

            </dl>
        </div>
        <div class="col" style="min-height:400px;">
            <h2>Map</h2>
            <br />
            <br />
            @if (Model.City != null)
            {
                <div id="modal-map2" style="height: 76%;width: 80%;min-height:300px; position: absolute; overflow: hidden;"></div>
            }
            else
            { 
                <br />
                <br />
                <center>
                    <h4><i>No map for this event<br />Stay tuned for details!</i></h4>
                </center>
            
            }
           
        </div>
    </div>
 
    <div>
        
    </div>
    <div>
        @Html.ActionLink("Back to Event Calendar", "CalendarIndex", "Calendar")
    </div>
 
    <script>
        var geocoder;

        function initMap (callback) {
            var coordinates;
            geocoder = new google.maps.Geocoder();
            var latitude = 52.0000000;
            var longitute = 9.7000000;
            geocoder.geocode({ 'address': "@ViewBag.Address @ViewBag.City @ViewBag.State @ViewBag.ZipCode" }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    latitude = results[0].geometry.location.lat();
                    longitude = results[0].geometry.location.lng();
                }

                //callback(coordinates);
                var uluru = new google.maps.LatLng(latitude, longitude);
                var map = new google.maps.Map(document.getElementById('modal-map2'), {
                    zoom: 15,
                    center: uluru,
                    mapTypeId: google.maps.MapTypeId.HYBRID,

                    zoomControlOptions: {
                        position: google.maps.ControlPosition.LEFT_BOTTOM
                    },
                    streetViewControl: true,
                    streetViewControlOptions: {
                        position: google.maps.ControlPosition.LEFT_BOTTOM
                    },
                });
                var marker = new google.maps.Marker({ map: map, position: new google.maps.LatLng(latitude, longitude) });
            })

        }


    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=@ViewBag.APIKey&callback=initMap"
            async defer type="text/javascript"></script>
